html {
    height: 100%;
}

h1 {
    color: #1a3b4c;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: normal;
    padding: 40px;
    padding-top: 50px;
    font-size: 24px;
}

h2 {
    color: #1a3b4c;
    text-align: center;
    font-family: 'Georgia', serif;
    font-weight: normal;
    font-size: 18px;
    padding: 25px;
}

main {
    display: grid;
    place-items: center;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    background: #6f8f9b;
    height: 70px;
    width: 100%;
}

label.navbar {
    color: #e4e0dd;
    font-size: 30px;
    line-height: 70px;
    padding: 0 80px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
    line-height: 70px;
    margin: 0 6px;
}

nav ul li a {
    color: #e4e0dd;
    font-size: 16px;
    padding: 7px 12px;
    border-radius: 3px;
    text-transform: capitalize;
}

a.active, a:hover {
    background-color: #1a3b4c;
    transition: 0.3s;
}

@media(max-width: 95px) {
    label.logo {
        font-size: 28px;
        padding-left: 40px;
    }
    nav ul li a {
        font-size: 14px;
    }
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#c7d3d8, #e4e0dd);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.cen_pos {
    text-align: center;
    top: 15%;
    left: 10%;
}

footer {
    color: #e4e0dd;
    text-align: center;
    background-color: #6f8f9b;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2%;
}

.select_container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 200px;
    height: 40px;
}

.select_box {
    opacity: 0.9;
    border-radius: 12px;
    border: none;
    appearance: none;
    padding: 0 25px 0 12px;
    width: 100%;
    color: #e4e0dd;
    background-color: #1a3b4c;
    font-size: 18px;
    transition: 0.5s;
}

.inputbox {
    position: relative;
    width: 200px;
}

.num {
    position: absolute;
    left: 160px;
    top: 120px;
    width: 150px;
    height: 0px;
}


.del_button {
    position: absolute;
    padding: 1px;
    right: 80px;
    top: 120px;
    width: 80px;
    height: 0px;
}

.add_button {
    position: absolute;
    padding: 1px;
    right: 150px;
    top: 400px;
    width: 100px;
    height: 0px;
}

.rmv,
.btn1,
.btn2 {
    border: 1px solid #415a66;
    border-radius: 8px;
    background: none;
    padding: 7px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 8px;
    transition: 0.5s;
}

.btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 8vh;
}

.btn1,
.btn2,
.rmv {
    color: #415d6a;
}

.btn1:hover,
.btn2:hover,
.rmv:hover {
    color: #e4e0dd;
    background: #1a3b4c;
}

.result {
    opacity: 0.9;
    color: #1a3b4c;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 25vh;
}

.inputbox_payroll {
    position: absolute;
    right: 150px;
    top: 200px;
    width: 150px;
    height: 0;
    display: flex;
    flex-direction: column;
}


table {
    position: absolute;
    left: 250px;
    top: 150px;
    width: 600px;
    height: 0;
    border-spacing: 0px;
    border: 1px solid #6f8f9b;
    border-radius: 5px;
}

th {
    text-align: center;
    border: 1px solid #6f8f9b;
}

tbody {
    border: 1px solid #1a3b4c;
    padding: 5px;
    text-align: center;
}

.cleartable {
    position: absolute;
    padding: 1px;
    left: 50px;
    top: 110px;
    width: 100px;
    height: 0px;
}

dialog {
    background-color: #afb9bd;
    position: absolute;
    left: 300px;
    top: 150px;
    width: 600px;
    height: 80px;
    border-spacing: 0px;
    border: 1px solid #1a3b4c;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #1a3b4c;
    border-radius: 8px;
}

h4 {
    padding: 8px;
    size: 4px;
}
